html {height: 100%;}
body {margin: 0;padding: 0;background: #EEE;height: 100%;font-family:"lucida grande",tahoma,verdana,arial,sans-serif; position:relative;}
#main {background: #eee; position:absolute; left:0; right:0; top:0; bottom:0; display:block;}
#counter{background: #000; height:16px; font-size:14px; color:#fff; padding:5px;}
#about{background: #000; height:16px; font-size:14px;  padding:5px; color:#fff;}
#about a, #counter a:hover{text-decoration:none; color:#fff;}
#startChat{display:block; background:green; color:#fff; text-align:center; font-size:24px; font-weight:bold; padding:10px 0; text-decoration:none;}
#startHere{width:200px;}
h1,h2,h3,p{margin:0;padding:0;}
a img{border:0;}

.hidden{display:none;}
.ping{background-color:ping;}

.boxy-wrapper { position: absolute;empty-cells: show; }
.boxy-wrapper.fixed { position: fixed; }
.boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }
.boxy-wrapper .boxy-top-left,.boxy-wrapper .boxy-top-right,.boxy-wrapper .boxy-bottom-right,.boxy-wrapper .boxy-bottom-left { width: 10px; height: 10px; padding: 0 }
.boxy-wrapper .boxy-top-left { background: url('/img/boxy-nw.png'); }
.boxy-wrapper .boxy-top-right { background: url('/img/boxy-ne.png'); }
.boxy-wrapper .boxy-bottom-right { background: url('/img/boxy-se.png'); }
.boxy-wrapper .boxy-bottom-left { background: url('/img/boxy-sw.png'); }
.boxy-wrapper .boxy-top,.boxy-wrapper .boxy-bottom { height: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
.boxy-wrapper .boxy-left,.boxy-wrapper .boxy-right { width: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }

.boxy-wrapper .title-bar { background-color: black; padding: 6px; position: relative; cursor:move;}
.boxy-wrapper .title-bar.dragging { cursor: move; }
.boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }
.boxy-inner { background-color: white; padding: 0 }
.boxy-content { padding: 15px; }
.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }


#personList{ display:block; border-top:5px solid #ECECEC;border-bottom:5px solid #ECECEC; }
#personList .personRow{ display:block; height:30px; line-height:30px; background:#eee; font-size:20px; font-weight:bold; }
#personList .personRow .personNick{ text-align:center;}
#personList .personRow .personAction{ display:none;}
#personList .personRow a, #personList .personRow a:hover{ display:block; text-decoration:none; color:#000;}

#personList .active{ background:#3b5999; color:#fff; }

.somebody{ display:block; height:460px; width:350px;}
.somebodyHead{display:block; height:50px;}
	.somebodyHead .somebodyActions{display:block; float:right; height:16px;width:16px; margin:30px 5px 5px;}
	.somebodyHead h3{line-height:48px; font-size:36px;}
.somebodyBody{display:block; height:316px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
	.somebodyBody .messages{display:block;width:350px;overflow:auto; height:315px;}
	.somebodyBody .logItem,.somebodyBody .logItemKnock{display:block; border-bottom:1px solid #ccc; margin-bottom:4px; padding:5px; line-height:14px; font-size:14px;}
	.somebodyBody .logItem .nic{display:block; font-weight:bold; color:#405d9f;}
	.somebodyBody .logItem .time,.somebodyBody .logItemKnock .time{display:block; font-weight:bold; color:#eee; float:right; margin:5px; font-size:10px;}
	.somebodyBody .logItem .msg,.somebodyBody .logItemKnock .msg{display:block; color:#cccc}
.somebodyMid{display:block; height:32px; border-bottom:1px solid #ccc; font-size:11px;}
	.somebodyMid #typeSpan{display:block; float:left; width:260px; height:30px;}
	.somebodyMid #typeSpan a, .somebodyMid #typeSpan a:hover{text-decoration:none; color: red;}
	.somebodyMid #random{display:block; float:left; width:30px; height:30px; }
	.somebodyMid #smiley{display:block; float:left; width:30px; height:30px; }
	.somebodyMid .gongCal{display:block; float:left; width:30px; height:30px; }

.somebodyFooter{display:block; height:66px;}
	.somebodyFooter .text{display:block; float:left; width:290px; height:60px;}
	.somebodyFooter .text .chatText{display:block;line-height:15px; font-size:15px; width:280px; height:50px; margin:3px;}
	.somebodyFooter .sendThis{display:block; float:left; width:60px; height:60px;}
	.somebodyFooter .sendThis a{display:block; text-align:center; line-height:55px; font-size:11px; font-weight:bold; height:55px; text-decoration:none; background:#000; margin:5px; color:#fff;}
	.somebodyFooter .sendThis a:hover,.somebodyFooter .sendThis a.hit{text-decoration:none;}
	.somebodyFooter .sendThis span.disabled{display:block; text-align:center; line-height:55px; font-size:11px; font-weight:bold; height:55px; text-decoration:none; background:#ccc; margin:5px; color:#fff;}
	
#notice {color: #fff;position: absolute;width: 300px;top: 5px;right: 5px;}
#notice .wrapper {padding: 5px 20px;background-color: #000;}
#notice .bg {position: absolute;z-index: -1;opacity: 0.7;width: 100%;height: 100%;background-color: #000;}
	