HTML
{
	height: 100%;
}
BODY
{
	margin: 0;
	padding: 0;
	background: #956C26;
	height: 100%;
	font-family: Arial, sans-serif;
}
IMG
{
	border: 0 none #000000;
}
OBJECT#knock
{
	visibility: hidden;
}
DIV#title
{
	font-family: "Trebuchet MS";
	color: #F4E7CA;
	font-size: 20px;
	position: absolute;
	left: 35px;
	top: 8px;
}
DIV#onlinesay
{
	position: absolute;
	right: 340px;
	top: 10px;
	color: #D4C196;
}
DIV#SmileyList
{
	position: absolute;
	bottom: 34px;
	left: 38px;
	background-color: #EDE5B1;
	border: 2px solid #8D6C25;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 377px;
	height: 133px;
	padding: 5px;
	display: none;
}
DIV.smile
{
	width: 30px;
	margin: 2px;
	height: 30px;
	float: left;
	text-align: center;
}
.youmsg IMG
{
	position: inherit;
	margin: -5px 0 -3px;
}
.strangermsg IMG
{
	position: inherit;
	margin: -5px 0 -3px;
}
.logwrapper
{
	border: 1px solid #4C3E23;
/*border-radius-topleft: 0.5em
border-radius-topright: 0.5em*/
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	background: #EEE6B2;
	position: absolute;
	left: 1em;
	right: 1em;
	bottom: 55px;
/*Dimensions for IE:*/
	_width: 96%;
	_height: 250px;
}
.logbox
{
	position: absolute;
	top: 0.5em;
	bottom: 0;
	left: 0.5em;
	right: 0;
	overflow: auto;
/*Dimensions for IE:*/
	_width: 97%;
	_height: 230px;
}
.controlwrapper
{
	position: absolute;
	bottom: 1em;
	left: 1em;
	right: 1em;
	height: 27px;
}
.controltable
{
	border-collapse: separate;
	border-spacing: 0;
}
.disconnectbtnwrapper
{
	margin-left: 0.5em;
	border: 1px solid #4C3E23;
/*border-radius-bottomleft: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.disconnectbtn
{
	font-family: sans-serif;
	font-size: 1em;
	background: #CCB85B;
	width: 7em;
	height: 26px;
	padding: 0;
	margin: 0;
	border: 0 none #000000;
/*border-radius-bottomleft: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #69502D;
}
.smileybtnwrapper
{
	margin-right: 0.5em;
	border: 1px solid #4C3E23;
/*border-radius-bottomleft: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.smileybtn
{
	font-family: sans-serif;
	font-size: 1em;
	background: #CCB85B url(../images/smileys/smile.gif) no-repeat center;
	width: 2em;
	height: 26px;
	padding: 0;
	margin: 0;
	border: 0 none #000000;
/*border-radius-bottomleft: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #69502D;
}
.sendbtnwrapper
{
	margin-left: 0.5em;
	border: 1px solid #4C3E23;
/*border-radius-bottomright: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.sendbtn
{
	font-family: sans-serif;
	font-size: 1em;
	background: #CBB75A;
	width: 7em;
	height: 26px;
	padding: 0;
	margin: 0;
	border: 0 none #000000;
/*border-radius-bottomright: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #684F2C;
}
.knockbtnwrapper
{
	margin-left: 0.5em;
	border: 1px solid #4C3E23;
/*border-radius-bottomright: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.knockbtn
{
	font-family: sans-serif;
	font-size: 1em;
	background: #CBB75A;
	width: 7em;
	height: 26px;
	padding: 0;
	margin: 0;
	border: 0 none #000000;
/*border-radius-bottomright: 0.5em*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #684F2C;
}
.chatmsgcell
{
	width: 100%;
}
.chatmsgwrapper
{
	background: #EDE5B1;
	border: 1px solid #4B3D22;
	height: 18px;
	padding: 0.25em;
}
.chatmsg
{
	width: 100%;
	background: #EDE5B1;
	font-family: sans-serif;
	font-size: 1em;
	border: 0 none #000000;
	padding: 0;
	margin: 0;
	height: 18px;
	font-size: 1em;
	overflow: auto;
}
.youmsg .msgsource
{
	color: #AF7322;
	font-weight: bold;
}
.strangermsg .msgsource
{
	color: #BBA339;
	font-weight: bold;
}
.statuslog
{
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
}
.logitem
{
	padding-bottom: 0.5em;
}
#chatmsg:focus
{
	outline: none;
}
DIV.statuslog A
{
	color: #A79336;
	cursor: pointer;
}
DIV.statuslog A:Hover
{
	color: #4E4A1A;
	cursor: pointer;
}
DIV#iletiyaziyor
{
	position: absolute;
	bottom: 3px;
	font: 18px Arial;
	color: #664F1D;
	display: none;
	right: 27px;
}
#temalar
{
	position: absolute;
	right: 20px;
	top: 13px;
	cursor: pointer;
	color: #D4C196;
}
#temalar DIV#kirmizi
{
	width: 15px;
	height: 15px;
	background-color: #FCE4E4;
	border: 1px solid #010101;
	position: absolute;
	right: 80px;
	top: 0px;
}
#temalar DIV#mavi
{
	width: 15px;
	height: 15px;
	background-color: #E5EFFD;
	border: 1px solid #010101;
	right: 100px;
	position: absolute;
	top: 0px;
}
#temalar DIV#darkblue
{
	width: 15px;
	height: 15px;
	background-color: #405060;
	border: 1px solid #010101;
	position: absolute;
	right: 20px;
	top: 0px;
}
#temalar DIV#darkred
{
	width: 15px;
	height: 15px;
	background-color: #5F3F3F;
	border: 1px solid #010101;
	position: absolute;
	right: 40px;
	top: 0px;
}
#temalar DIV#karamel
{
	width: 15px;
	height: 15px;
	background-color: #F7E79B;
	border: 1px solid #010101;
	position: absolute;
	right: 60px;
	top: 0px;
}
#temalar DIV#kivvii
{
	width: 15px;
	height: 15px;
	background-color: #EEF7D0;
	border: 1px solid #010101;
	position: absolute;
	right: 120px;
	top: 0px;
}
#temalar DIV#cizgi
{
	width: 15px;
	height: 15px;
	border: 1px solid #010101;
	right: 0px;
	position: absolute;
	top: 0px;
	background: url(cizgi.png);
}
#temalar #temasec
{
	position: absolute;
	width: 80px;
	right: 145px;
	top: -2px;
}
